html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#controlPanel {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 12px;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 1000;
}

#statusPanel {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 12px;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: bold;
  z-index: 1000;
}

#map {
  width: 100%;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
